---
target_group: "ISP"
client:
  - {name: "U12345", ip_address: "100.54.30.51"}
  - {name: "U12346", ip_address: "100.54.30.52"}
  - {name: "U20298", ip_address: "100.54.30.53"}
infra:
  - {name: "20-30-R1", ip_address: "10.20.30.1"}
  - {name: "20-30-S1", ip_address: "10.20.30.11"}
