# ========================================
# Generated automatically by Ansible
# ========================================

+ {{ target_group }}
menu = {{ target_group }}
title = {{ target_group }}

# --- Infrastructure ---
{% if manual is defined and manual|length > 0 %}
{% for h in manual %}
++ {{ h.name | replace(' ', '_') | replace('-', '_') }}
menu = {{ h.name }} - {{ h.ip_address }}
title = {{ h.name }} - {{ h.ip_address }}
host = {{ h.ip_address }}
{% endfor %}
{% endif %}
